:root {
  --primary-color: #4d5359;
  --secondary-color: #4A4238;
  --accent1-color: #508484;

  --heading-font: 'Kanit', sans-serif;
  --paragraph-font: 'Rajdhani', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: var(--primary-color);
  color: rgb(177, 183, 179);
}
header h1 {
  padding: 20px;
  text-align: center;
  font-family: var(--heading-font);
}
nav {
  padding: 5px;
  background: var(--secondary-color);
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-decoration: none;
  font-family: var(--paragraph-font);
}
nav a:hover {
  color: aquamarine;
}
main h2 {
  font-size: 25px;
  color: rgb(15, 4, 80);
  background-color: var(--primary-color);
  text-align: center;
  font-family: var(--heading-font);
  padding: 10px;
}
main p {
  font-size: 20px;
  font-family: var(--paragraph-font);
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 5px;
}
main img {
  float: right;
  max-width: 150px;
  padding-top: 10px;
}
ul {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
  font-family: var(--paragraph-font);
  font-size: 20px;
}
footer {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 30px;
  font-size: 15px;
  font-family: var(--paragraph-font);
}
main {
  display: grid;
  grid-template-columns: 70% 29%;
  padding: 10px;
  column-gap: 1%;
  max-width: 1200px;
  margin: 0 auto;
}
.card {
  border: 2px solid rgb(102, 4, 65);
  border-radius: 8px;
}
.state {
  padding-top: 4rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}
.state h3 {
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
  font-family: var(--heading-font);
}
.state figure {
  float: left;
  padding: 10px;
  font-family: var(--paragraph-font);
  font-style: italic;
}
