:root {
    --primary-color: #1d56b9;
    --secondary-color: #770b97;
    --text-color: #f8f8f6;

    --heading-font: 'Kanit', sans-serif;
    --paragraph-font: 'Rajdhani', sans-serif;
}
* {
    margin: 0 auto;
    font-family: var(--paragraph-font);
}
header {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 30px;
    color: var(--text-color);
    font-family: var(--heading-font);
}
h2 {
    font-family: var(--heading-font);
    font-size: 30px;
}
.hero {
    display: flex;
    justify-content: center;
}
img {
    width: 100%;
    height: auto;
}
#weather img {
    max-width: 120px;
}
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--paragraph-font);
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: var(--paragraph-font);
    gap: 1rem;
    text-align: right;
}
td:last-child {
    text-align: left;
}
.name {
    font-weight: 700;
}
#data {
    border-bottom: solid 1px var(--secondary-color);
}